{% extends 'base.html' %}

{% block content %}
{% if all_items %}
    <table class="table table-bordered">
        {% for things in all_items %}
            {% if things.completed %}
                <tr class="table-secondary striker">
                    <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
                    <td><center><a href="{% url 'uncross' things.id %}">Tandai belum selesai</a></center></td>
                    <td><center> <a href="{% url 'delete' things.id %}">Hapus</a></center></td>
                </tr>
            {% else %}
                <tr>
                    <td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
                    <td><center> <a href="{% url 'cross_off' things.id %}">Tandai sebagai selesai</a></center></td>
                    <td><center> <a href="{% url 'delete' things.id %}">Hapus</a></center></td>
                </tr>
            {% endif %}
        {% endfor %} 
    </table>
{% endif %}
{% endblock %}